{% load static %}
{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}

    {% leaflet_js  plugins="drawsrc, rastercoords, toolbar, toolbardraw, truesize" %}
    {% leaflet_css plugins="drawsrc, rastercoords, toolbar, toolbardraw, truesize" %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script>
      var dataurl = '{% url "data" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;

        map.eachLayer((layer) => {
          layer._url = ''
        });

        console.log(event);
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            console.log(data, map, 'data');
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<h3>${props.title}</h3><p>${props.description}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);

            // L.imageOverlay('/static/images/floor_plan.jpg', [[-240,0], [240,640]]).addTo(map);
            // Need to be received from django
            map.options.crs = L.CRS.Simple;
            map.options.maxZoom = 4;

            const img = [
              1653, // original width of image
              2339  // original height of image
            ]; // Need to be received from django

            // assign map and image dimensions
            const rc = new L.RasterCoords(map, img);

            // set the view on a marker ...
            map.setView(rc.unproject([img[0], img[1]]), 2);

            L.tileLayer('/static/images/floor_map/{z}/{x}/{y}.png', {
              noWrap: true
            }).addTo(map);

            // map.fitBounds([[0, 0], [1653, 2339]]);

            // map.setView( [240, 320], 1); // Need to be received from django

            const drawnItems = new L.FeatureGroup().addTo(map);

            new L.Toolbar2.DrawToolbar({
              position: 'topleft',
              actions: [L.Toolbar2.DrawAction.Polygon]
            }).addTo(map);

            new L.Toolbar2.EditToolbar.Control({
              position: 'topleft'
            }).addTo(map, drawnItems);

            // map.on('draw:drawstart', (e) => console.log(e));
            map.on(L.Draw.Event.DRAWSTART, function (e) {
              // let layer = e.layer;
              console.log(e, e.layer)
            })

            map.on(L.Draw.Event.CREATED, function (e) {
                let type = e.layerType,
                    layer = e.layer,
                    coords;
            
                if (type === 'marker') {
                  layer.bindPopup('A popup!');
                }

                if (type === 'polygon') {
                  coords = layer.getLatLngs()[0].map(c => Object.values(rc.project(c)));
                }

                layer.options.weight = 1;

                console.log(coords);

                const geojsonFeature = {
                  type: 'Feature',
                  properties: {},
                  geometry: {
                    type: type.replace(/\b[a-zA-Z]/g, (match) => match.toUpperCase()),
                    coordinates: [coords]
                  }
                };


                // const geojsonFeature = {
                //   type: 'Feature',
                //   properties: {},
                //   geometry: {
                //     type: 'Polygon',
                //     coordinates: [[
                //       [14.7656, 50.9860],
                //       [19.0283, 49.1529],
                //       [24.1259, 50.2893],
                //       [21.3134, 54.8766]
                //     ]]
                //   }
                // };

                // const trueSizeLayer = new L.trueSize(geojsonFeature, {
                //   color: '#FF0000',
                //   weight: 1,
                //   opacity: 1,
                //   dashArray: '7, 10',
                // }).addTo(map);

                // const trueSizeLayer = new L.trueSize(geojsonFeature);
            
                drawnItems.addLayer(layer); //trueSizeLayer
                
                console.log({
                  drawn_area_shape: geojsonFeature
                }, 'here will be API request');

            });

            map.on(L.Draw.Event.EDITED, function (e) {
              console.log(e, 'edited')
            });

            map.on(L.Draw.Event.DELETED, function (e) {
              console.log(e, 'deleted')
            });

          });

          console.log(L);

        /*
          var MyCustomMarker = L.Icon.extend({
            options: {
              shadowUrl: null,
              iconAnchor: new L.Point(12, 12),
              iconSize: new L.Point(24, 24),
              iconUrl: 'link/to/image.png'
            }
          });
    
          var options = {
            position: 'topright',
            draw: {
              polyline: {
                shapeOptions: {
                    color: '#f357a1',
                    weight: 10
                }
              },
              polygon: {
                allowIntersection: false, // Restricts shapes to simple polygons
                drawError: {
                  color: '#e1e100', // Color the shape will turn when intersects
                  message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                },
                shapeOptions: {
                  color: '#bada55'
                }
              },
              circle: false, // Turns off this drawing tool
              rectangle: {
                shapeOptions: {
                  clickable: false
                }
              },
              marker: {
                icon: new MyCustomMarker()
              }
            },
            edit: {
              featureGroup: 'editableLayers', //REQUIRED!!
              remove: false
            }
          };
        */
      });

    </script>
  </head>
  <body>
    <h1>Map Floor Spots</h1>
    {% leaflet_map "main" %}
  </body>
</html>
